#card-perfil{
    border-radius: 0px !important;
    border-top: none;
}

#card-perfil-vago{
    padding-bottom: 61.5vh;
    border-radius: 0px !important;
}

#texto-post{
    color: #909090;
    font-size: 1.375rem;
    margin-top: 8.3125rem;
}

#nome-perfil{
    font-size: 1.25rem;
    color:#76BB4C;
}

.nome-publi{
    font-size: 1rem;
    color: #76BB4C;
}

.data-publi{
    font-size: 0.8rem;
    color: #909090;
}

#editar-button-perfil{
    background-color: #76BB4C !important;
    border: #76BB4C !important;
    border-radius: 1.875rem;
    padding: 0.25rem 0;
}

@media (max-width: 582px) {
    .card-post {
        display: flex;
        flex-wrap: wrap !important;
    }
}