@import "../../assets/styles/global.scss";
@import "bootstrap/scss/bootstrap";


.container-bg{
    background-image: url("../../assets/img/BACKGROUND.png");
    background-size: cover;
    background-color: black;
}

#card{
    margin: 0 auto;
    width: 80%
}

#input-form{
    border-radius: .625rem;
    border: #909090 .0625rem solid;
}

::placeholder{
    text-align: center;
    font-size: 1.3rem !important;
}

.logo-img{
    width: 32% !important;
}

h4{
    font-size: 1.5rem;
}

#buttonEntrar{
    font-size: 1.2rem;
    color: black;
    background-color: #76BB4C;
    border: #76BB4C;
    border-radius: .625rem;
    text-align: center;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
}