@import "../../assets/styles/global.scss";
@import "bootstrap/scss/bootstrap";

.container-bg{
    background-image: url("../../assets/img/BACKGROUND.png");
    background-size: cover;
    background-color: black;
}

    #link{
        text-decoration: none;
        color: #555;
        font-size: 1rem;
    }    

    #input-form{
        border-radius: .625rem;
        border: #909090 .0625rem solid;
    }

    ::placeholder{
        text-align: center;
        font-size: 1.3rem !important;
    }

    #card{
        margin: 0 auto;
        width: 80%;
        border-radius: 0;
    }
    
    .logo-img{
        width: 32% !important;
    }
    
    #buttonEntrar{
        font-size: 1.2rem;
        color: black;
        background-color: #76BB4C;
        border: #76BB4C;
        border-radius: .625rem;
        text-align: center;
        padding-top: 0.2rem;
        padding-bottom: 0.2rem;
    }