// @import "../../assets/styles/global.scss";
// @import "bootstrap/scss/bootstrap";

body{
    background:linear-gradient( rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3) ), url("../../assets/img/BACKGROUND.png");
    background-size: cover;
}

    a{
        color: black;
    }    

    ::placeholder{
        text-align: center;
        font-size: 1.5rem;
    }
    
    .logo-img{
        width: 32% !important;
    }
    
    